
{{!-- handling the setup of the button for the burgers columns --}}

<li>
	{{burger_name}}

	{{!-- #unless evaluates if the variable is false --}}
	{{#unless devoured}}
		<button class="eat-da-burger" data-id="{{id}}" data-eaten="{{devoured}}">Devour It!</button>
	{{/unless}}

</li>